@media (max-width: 50rem) {
  /* .skycastmain-body {
    height: 150vh;
  } */
  /*  */
  .skycast-basic-info {
    margin-top: 25vh;
  }
  .skycast-full-details {
    padding: 0;
  }
  /*  */
  /* SC BASIC WEATHER INFORMATIONS */
  .SC-condition-details h3 {
    font-size: 1.8rem;
  }
  .SC-details {
    font-size: 1.4;
    font-weight: 600;
    padding: 0.5rem 0.1rem 0.1em 0.2rem;
  }

  .skycast-basic-info--active {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem;
    text-align: center;
  }
  .SC--hourly {
    margin-top: 2.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  /*  ---- */
  /* SC DAILY WEATHERS */
  .SC-condition-details {
    margin: 0;
    padding: 0.6rem;
  }
  .SC--daily-forecast {
    column-gap: 2.4rem;
    font-size: 1.4rem;
    padding: 0.3rem 0.1rem 0.3rem 0.5rem;
  }
  /* --- */
  /* SC RANDOM WEATHERS */
  .SC-rdw {
    font-size: 1.2rem;
  }
  .SC--random {
    padding: 1.2rem;
  }
  /* --- */
}
